body{
    background-size: cover;
    background-position: center;
}
.Object-Detection
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    margin-top: 55px;
}
a{
    float: right;
    font-size: 20
    background: black;
    color: white;
}